<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Mundo Gastro - Adicionar Receita</title>
</head>

<body>
    <div class="loginForm">
        <h3>Adicionar Receita</h3>
        <input type="text" name="receita_nome" id="receitaNome" placeholder="Nome da receita">
        <input type="text" name="receita_nome" id="categoria" placeholder="Categoria">
        <textarea placeholder="Instruções de preparo da receita" id="instrucoes"></textarea>
        <textarea placeholder="Ingredientes da receita" id="ingredientes"></textarea>
        <input type="text" name="receita_nome" id="rendimento" placeholder="Porções/Quantidade">
        <input type="text" name="receita_nome" id="imagem" placeholder="Link da thumbnail">
        <input type="text" name="receita_nome" id="preparo" placeholder="Tempo de preparo">
        <input type="submit" id="submitReceita" value="Adicionar">
    </div>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>