<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/global.css">
    <title>Mundo Gastro - Login</title>
</head>

<body>
    <header>
        <img src="templates/images/logo.png" alt="Mundo Gastro"> 
    </header>
    
    {% include "inc/menu.twig" %}

    <div class="loginForm">
        <h3>Efetuar Login</h3>
        <input type="text" id="usernameField" name="username" placeholder="Usuário">
        <input type="password" id="passwordField" name="password" placeholder="Senha">
        <input type="submit" id="submitButton" value="Login">

        <span>
            Não tem uma conta? <a href="cadastro">Registre-se</a>
        </span>
    </div>
    <script src="templates/js/jquery-3.7.1.min.js"></script>
    <script src="templates/js/login.js"></script>   
</body>
</html>