<nav class="menu">
    <ul>
        <li><a href="receitas" class="button">Receitas</a></li>
        <li><a href="favoritos" class="button">Favoritos</a></li>
        <li><a href="login" class="button">Login</a></li>
    </ul>
</nav>